<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>webcams</title>
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body>
  <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
  <div class="app">
    <div id="map"></div>
  </div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBthdOb9B7nFqwrezl9SLoJBvdZACm8FUk&callback=initMap" async defer></script>
  <script type="text/template" class="template" id="popup">
    <div class="popup">
      <strong><%= prop %> <%= cam.title %></strong>
      <div><a href="<%= cam.url.current.desktop %>" target="_new">
        <img src="<%= cam.image.current.preview %>" srcset="<%= cam.image.current.preview %> 2x" alt="" /></a>
      </div>
    </div>
  </script>
  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/underscore/underscore.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js scripts/main.js -->
  <script src="scripts/main.js"></script>
  <!-- endbuild -->
</body>

</html>